source/CSharp/IoCFramework/IOC.FW.Configuration/IoCFrameworkSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="iocFramework">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="containerManager">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="modules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="module" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="invariantName" use="required"/>
                            <xs:attribute type="xs:string" name="assemblyName" use="required"/>
                            <xs:attribute type="xs:string" name="className" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="thumb">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="notFoundPath"/>
                <xs:attribute type="xs:short" name="defaultWidth"/>
                <xs:attribute type="xs:short" name="defaultHeight"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="dataTransfer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transfers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="transfer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="from">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type"/>
                                  <xs:attribute type="xs:string" name="host"/>
                                  <xs:attribute type="xs:string" name="port"/>
                                  <xs:attribute type="xs:string" name="userName"/>
                                  <xs:attribute type="xs:string" name="password"/>
                                  <xs:attribute type="xs:string" name="path"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type"/>
                                  <xs:attribute type="xs:string" name="host"/>
                                  <xs:attribute type="xs:string" name="port"/>
                                  <xs:attribute type="xs:string" name="userName"/>
                                  <xs:attribute type="xs:string" name="password"/>
                                  <xs:attribute type="xs:string" name="path"/>
                                  <xs:attribute type="xs:string" name="searchPattern"/>
                                  <xs:attribute type="xs:string" name="deleteAfter"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="invariantName"/>
                        <xs:attribute type="xs:string" name="enable"/>
                        <xs:attribute type="xs:string" name="fromEmptyWarningEnable"/>
                        <xs:attribute type="xs:string" name="fromEmptyWarningTo"/>
                        <xs:attribute type="xs:string" name="fromEmptyWarningCc"/>
                        <xs:attribute type="xs:string" name="fromEmptyWarningSubject"/>
                        <xs:attribute type="xs:string" name="fromEmptyWarningBody"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>